@font-face {
  font-family: "iconfont"; /* Project id 3143676 */
  src: url('iconfont.woff2?t=1642237403309') format('woff2'),
       url('iconfont.woff?t=1642237403309') format('woff'),
       url('iconfont.ttf?t=1642237403309') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinzengyonghu:before {
  content: "\e634";
}

