.form {
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;

  &:v-deep(.el-input.is-disabled .el-input__inner) {
    color: #606266;
    border: none;
    background: #ffffff;
  }
  &:v-deep(.el-textarea.is-disabled .el-textarea__inner) {
    color: #606266;
    padding-left: 11px;
    padding-right: 11px;
    border: none;
    background: #ffffff;
  }
  &:v-deep(.el-input__suffix) {
    display: none;
  }
  &:v-deep(.el-input-number.is-disabled .el-input__inner) {
    text-align: left;
    padding: 0 11px;
    border: none;
    background: #ffffff;
  }
}
