* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

// 滚动条
::-webkit-scrollbar {
  /*滑动槽*/
  width: 8px;
  height: 12px;
  border-radius: 6px;
  background-color: rgba(35, 46, 64, .05);
}

::-webkit-scrollbar-thumb {
  /*滑动块*/
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(217, 217, 217);
}

::-webkit-scrollbar-thumb:hover {
  display: block;
  min-height: 12px;
  min-width: 8px;
  border-radius: 6px;
  background-color: rgb(159, 159, 159);
}

#app {
  height: 100%;
}

/** elemelt 组件的全局样式修改 --- start **/
.el-table {
  height: 100%;
  width: 100%;
}
.el-pagination .el-input__suffix {
  right: 8px;
}
.el-dialog__footer {
  border-top: 1px solid #f2f4f7;
}
.el-dialog__header {
  background: #f2f4f7;
}
/** elemelt 组件的全局样式修改 --- end **/